body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: whitesmoke;
}

ul{
    margin:0 20%;
    max-width:100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

ul li{
    transition: 0.5s;
    padding:20px 0;
}

ul li a
{
    color:black;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration-style: none;
}

ul:hover li{
    opacity: 0.2;
    filter: blur(1px);
}

ul li:hover{
    opacity:1;
    filter:blur(0px);
}