body{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}

div{
    font-size: 4rem;
    color:#3f3f3f;
}

div:hover span:nth-child(1){
    transition: 0.3s ease;
    color:white;
    text-shadow: 0 0 10px rgba(255,255,255,0.9), 0 0 30px rgba(255,255,255,0.8), 0 0 40px rgba(255,255,255,0.6), 0 0 60px rgba(255,255,255,0.4);
}

div:hover span:nth-child(1)::after{
    content: "'";
    margin-right:2rem;
}

div:hover span:nth-child(2){
    margin-right:2rem;
    transition: 1s ease;
    color:rgba(255,255,255,0.4);
}

div:hover span:nth-child(2)::before{
    content: "A";
}

div:hover span:nth-child(3){
    transition: 0.3s ease;
    color:white;
    text-shadow: 0 0 10px rgba(255,255,255,0.9), 0 0 30px rgba(255,255,255,0.8), 0 0 40px rgba(255,255,255,0.6), 0 0 60px rgba(255,255,255,0.4);
}

